<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="info.eigenein.openwifi"
          android:versionCode="4"
          android:versionName="0.1.1">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- For ACRA. -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application android:name="Application"
                 android:label="@string/application_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/OpenWiFi.Theme">
        <activity android:name=".activities.MainActivity"
                  android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/menu_item_settings"/>
        <activity
            android:name=".activities.StatisticsActivity"
            android:label="@string/preference_statistics"/>
        <activity
            android:name=".activities.NetworkSetActivity"
            android:label="@string/activity_title_network_set"/>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/activity_title_about"/>
        <activity android:name="org.acra.CrashReportDialog"
                  android:theme="@style/OpenWiFi.Theme.Dialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true" />
        <receiver
            android:name=".receivers.ScanIntentBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="info.eigenein.intents.SCAN_INTENT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ScanResultsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ConnectivityChangeBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".services.ScanIntentService"
            android:exported="false"/>
        <service
            android:name=".services.SyncIntentService"
            android:exported="false"/>
        <uses-library android:name="com.google.android.maps"/>
    </application>
</manifest>
